#header{
	padding:0.5em;
	color:white;
	background-color: blue;
	clear:left;
	text-align: center;
	}
#path{
	border:1px solid gray;
	background-color: red;
	color: white;
	}
#nav{
	background-color: lime;
	color: white;
	line-height:150%;
	float:left;
	width:160px;
	margin: 0px;
	padding: 5px;
	
	
	}
	

	
#corpo{
	margin-left: 170px;margin-left: 170px;
	
	padding:10px;
	
	
	}
	
#piede{padding:0.5em;
	color:white;
	background-color: blue;
	clear:left;
	}