#header{
    text-align: center;
}

#nav ul{
    display:none;
}

#nav form{
    display:none;
}

#content{
    margin-left:0em;
}

img {
    display: none;
}

#hMenu {
    display: none;
}

/*header style*/
#header, h1 a {
    background-color: rgb(0, 102, 255);
    padding: 15px;
    color: #fff;
    text-align: center;
}

h1 {
    font-family: "Courier";
    font-size: 3.5em;
    margin: 0;
    font-variant: small-caps;
}

#login {
  display: none;
}

#skipNav {
  display: none;
}


#header h2 {
    font-variant: small-caps;
}

#footer{
    display: none;
}

