body {
    font-style: arial verdana sans-serif;
    font-size: 18px;
    width: 70%;
    height: 700px;
    margin: auto;
    padding: 0;
    background-color: rgb(212, 209, 209);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*header style*/
#header, h1 a {
    background-color: rgb(0, 102, 255);
    padding: 15px;
    color: #fff;
    text-align: center;
}

h1 {
    font-family: "Courier";
    font-size: 3.5em;
    margin: 0;
    font-variant: small-caps;
}


#header h2 {
    font-variant: small-caps;
}

/*no underline for links*/
a {
    text-decoration: none;
}

.affiliazione {
    color: #fff;
    font-size: 0.8em;
}

.affiliazione a{
    color: #fff;
}

.affiliazione a:hover {
    text-decoration: underline; 
}

/*path*/
#path {
    background-color: rgb(228, 192, 92);
    font-size: 1.1em;
    font-variant: small-caps;
    padding: 8px;
}

/*navigation menu*/
#nav {
	position: relative;
	width: 120px;
	font-size: 1.1em;
	font-variant: small-caps;
	float: left;
	background-color: rgb(0, 102, 255);
	height: 61.5%;
	border-radius: 0 0 10px 10px
}

#nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav li a, li.active {
    display: block;
    padding: 1em;
    color: #fff;
    border-radius: 5px;
}

#nav li:first-child {
    border-radius: 0 0 5px 5px;
}

li.active{ 
    background-color: white;
    color: #dd0000;
}

#nav li a:hover, li.active:hover {
    background-color: white;
    color: #dd0000;
}

#corpo {
    margin-left: 130px;
    font-family: "arial";
}

#corpo h2 {
	margin-top: 5px;
	text-align: center;

}

#footer {
    text-align: right;
    clear: both;
    position: relative;
    bottom: 7.5%;
    left: 0;
    padding: 15px;
    padding-left: 95.906px;
    background-color: rgb(0, 102, 255);
    border-radius: 0 0 10px 0;
    z-index: -1;
}
