body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Verdana Arial sans-serif;
  background-color: #e6e6e6;
}

#header {
  background-color: rgb(0, 102, 255);
  margin: 0;
  padding: 10px;
}

#logo {
  float: left;
}

h1 {
  color: #fff;
  text-align: center;
  font-variant: small-caps;
}

h2 {
  text-align: center;
  font-variant: small-caps;
}

.affiliazione {
  font-size: 1.5em;
  text-align: center;
  color: rgb(217, 217, 217);
}

/*display: none al momento*/
#path {
  position: fixed;
  display: none;
  width: 100%;
  height: 41.6px;
  background-color: rgb(0, 102, 255);
  margin: 0;
}

#mini_header {
    color: #fff;
    text-align: center;
    font-variant: small-caps;
    font-size: 1.3em;
    font-weight: bold;
}


/*nav*/
#nav {
  position: sticky;
  top: 0;
}

#nav ul {
  margin: 0;
  padding: 0;
  margin-top: 1px;
  margin-left: 20%;
  list-style-type: none;
}

#nav li {
  float: left;
}

/*links*/

#nav li a:link, #nav li a:visited, #nav li.active {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  font-size: 1.2em;
  font-variant: small-caps;
  background-color: #fff;
  transition: 0.3s;
}

#nav li a:hover {
  color: white;
  background-color: rgb(0, 102, 255);
}

#nav li.active {
  background-color: rgb(0, 102, 255);
  color: white;
}

#corpo {
  clear: both;
  padding: 4px;
  width: 60%;
  margin: auto;
  word-spacing: 1px;
}

#corpo p {
  text-align: justify;
}

#footer {
    background-color: rgb(0, 102, 255);
    margin: 0;
    padding: 20px;
    text-align: right;
    color: #fff;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


/* Tablets/smartphones */
@media screen and (max-width: 680px) {
  #header {
    display: none;
  }

  #nav {
    position: relative;

  }

  #path {
    display: block;
    padding-bottom: 3px;
    z-index: 1;
  }

  #path i {
    cursor: pointer;
  }

  #mini_header {
    margin-left: 30%;
  }

  #nav ul {
    display: none;
    margin: 0;
    position: fixed;
    top: 44.6px;
    z-index: 1;
  }

  #nav li {
    float: none;
  }

  #nav li a:link, #nav li a:visited, #nav li.active {
    display: block;
    text-align: right;
  }

  #corpo {
    position: relative;
    top: 20px;
    padding: 10px;
    width: auto;
    word-spacing: 1px;
  }

  #corpo p {
    text-align: justify;
  }
}
